/** @format */

.courses {
  margin-top: 9rem;
  margin-bottom: 3rem;
}

.courses__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.courses__container--title {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.courses__container--title span {
  color: var(--color-secondary);
}

.courses__container--subtitle {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-weight: 500;
}

.courses__container--grid {
  display: flex;
  justify-content: center;
}

.courses__grid {
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 1220px) {
  .courses__grid {
    grid-template-columns: 280px 280px 280px;
  }
}

@media (max-width: 900px) {
  .courses__grid {
    grid-template-columns: 280px 280px;
  }
}

@media (max-width: 625px) {
  .courses__grid {
    grid-template-columns: 280px;
  }
}
